.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #f07911;
  text-decoration: underline;
}

p {
  font-size: 2rem;
  color: #1b1919;
  font-family: 'Indie Flower', cursive;
  text-decoration: underline;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
button{
  margin-left: 45%;
  margin-top: 3%;
  font-size: 2rem;
  background-color: red;
  color: white;
}
button:hover{
  background-color: rgb(253, 50, 4);
  transition-delay: 0.1s;
  box-shadow: #393E46;
}